<status_bar class="status_bar">
    <signal class="signal">
        <img src="/assets/img/path_1.png" alt="">
        <img src="/assets/img/path_2.png" alt="">
        <img src="/assets/img/path_3.png" alt="">
        <img src="/assets/img/composite_path_1.png" alt="">
        <img src="/assets/img/composite_path_2.png" alt="">
    </signal><!--/signal-->
    <bell class="bell">
        BELL
    </bell>
    <wifi class="wifi">
        <div class="wifi_1">
            <img src="/assets/img/wifi_1.png" alt="">
        </div>
        <div class="wifi_2">
            <img src="/assets/img/wifi_2.png" alt="">
        </div>
        <div class="wifi_3">
            <img src="/assets/img/wifi_3.png" alt="">
        </div>
    </wifi><!--/wifi-->
    <time class="time">
        8:43 PM
    </time>
    <percent class="percent">
        50%
    </percent>
    <battery class="battery">
        <img src="/assets/img/korpus.png" alt="">
        <level class="level">
            <img src="/assets/img/level.png" alt="">
        </level>
        <minus class="minus">
            <img src="/assets/img/minus.png" alt="">
        </minus>
    </battery>
</status_bar>
